/* HomePage.css */
.home-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/LightModeBackground.png");
  background-size: 50% 50%;
  background-repeat: repeat;
  background-position: initial;
  opacity: 0.1; /* Adjust the transparency */
  z-index: -1;
}

.dark-mode .home-page {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .home-page::before {
  background-image: url("../../assets/images/DarkModeBackground.png");
}

.inspiration-section {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center; /* Center align text */
}

.inspiration-section h2 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

.highlighted-text {
  color: #d84a28; /* Use the color that works best from your logo palette */
}

.dark-mode .inspiration-section {
  background-color: #333;
  color: #fff;
}

.dark-mode .inspiration-section h2 {
  color: #fff;
}

.dark-mode .highlighted-text {
  color: #dac098; /* Use a lighter color from your logo palette for contrast */
}

.featured-recipes-container,
.highest-rated-recipes {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin-bottom: 40px; /* Add margin for spacing between sections */
}

.featured-recipes,
.highest-rated-recipes .recipes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.content-section {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
  gap: 20px; /* Add gap for spacing between columns */
}

.most-recent {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-board-trending {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.trending-recipes {
  width: 100%;
}

.recipe-card {
  width: calc(25% - 20px); /* Four items per row */
  box-sizing: border-box;
}

.most-recent .recipe-card {
  width: calc(
    48% - 20px
  ); /* Slightly larger than half to ensure gap is maintained */
}

.trending-recipes .recipe-card {
  width: calc(50% - 20px); /* Two items per row */
  max-width: 100%; /* Adjust width to fit the smaller column */
}

@media (max-width: 900px) {
  .recipe-card,
  .most-recent .recipe-card,
  .trending-recipes .recipe-card {
    width: calc(50% - 20px); /* Two items per row for smaller screens */
  }

  .content-section {
    flex-direction: column;
    align-items: center;
  }

  .info-board-trending {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .recipe-card,
  .most-recent .recipe-card,
  .trending-recipes .recipe-card {
    width: 100%; /* One item per row for very small screens */
  }
}
