/* src/components/homePage/HomePage.css */
.home-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8; /* Light background color for the page */
  min-height: 100vh; /* Ensure the page takes at least the full height of the viewport */
}

.search-bar {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-results,
.error {
  color: #ff0000; /* Red color for error and no results messages */
  margin: 20px 0;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between recipe cards */
  justify-content: center; /* Center the recipe cards */
}

.featured-recipes {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
}
