.home-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8; /* Light background color for the page */
  min-height: 100vh; /* Ensure the page takes at least the full height of the viewport */
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between recipe cards */
  justify-content: center; /* Center the recipe cards */
}

.featured-recipes {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
}
