.trending-recipes {
  width: 100%;
  margin-top: -25px;
  margin-right: 20px;
  margin-left: -10px;
}

.trending-section-title {
  text-align: left;
  margin-bottom: 20px;
}

.trending-recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

/* Ensure the link behaves like a block and doesn't affect the card's size */
.trending-recipe-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%; /* Maintain full width of the card */
}

.trending-recipe-card {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 450px; /* Ensure max width fits well within the grid */
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 0 auto; /* Center the card */
}

.dark-mode .trending-recipe-card {
  background-color: #444;
  color: #fff;
}

.trending-recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.trending-recipe-card-image {
  width: 100%;
  height: 180px; /* Increased height for better visibility */
  object-fit: cover;
  cursor: pointer;
}

.trending-recipe-info {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.trending-recipe-info h3 {
  font-size: 1.2em; /* Reduced font size */
  color: #333;
  min-height: 1.5em; /* Ensures enough space for titles */
  text-align: left; /* Align text to the left */
}

.dark-mode .trending-recipe-info h3 {
  color: #fff;
}

.trending-recipe-rating-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  text-align: left;
}

.trending-recipe-rating-text {
  font-size: 1em; /* Reduced font size */
  color: #666;
}

.dark-mode .trending-recipe-rating-text {
  color: #ddd;
}

.trending-star-rating {
  display: flex;
  gap: 2px; /* Reduced gap */
}

.trending-star {
  font-size: 0.7em; /* Reduced font size */
  color: #ccc;
}

.dark-mode .trending-star {
  color: #555;
}

.trending-star.trending-filled {
  color: gold;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .trending-recipe-card {
    max-width: 400px; /* Adjust max width for medium screens */
  }

  .trending-recipes {
    margin-top: -45px;
    margin-left: -5px; /* Adjust left margin for medium screens */
  }
}

@media (max-width: 900px) {
  .trending-recipe-card {
    max-width: 300px; /* Further reduce max width for smaller screens */
  }

  .trending-recipes {
    margin-left: 0; /* Remove left margin for smaller screens */
  }
}

@media (max-width: 600px) {
  .trending-recipe-card {
    max-width: 100%; /* Full width for very small screens */
  }

  .trending-recipes {
    margin-left: 45px;
    margin-bottom: 30px;
    margin-top: 0; /* Adjust top margin for very small screens */
  }
}
