.search-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  transition: background-color 0.3s, color 0.3s;
  position: relative; /* Position relative for absolute positioning of children */
  justify-content: flex-start; /* Align to the left */
}

.dark-mode .search-bar-container {
  background-color: #333;
  color: #ffffff;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

.filter-icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

.dark-mode .filter-icon {
  color: #ccc;
}

.search-input-container {
  position: relative;
  flex: 1;
}

.search-bar-input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 30px;
  background-color: #efefef;
}

.dark-mode .search-bar-input {
  background-color: #555;
  color: #fff;
  border-color: #666;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  color: #333;
  cursor: pointer;
}

.clear-icon {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  color: #333;
  cursor: pointer;
}

.dark-mode .search-icon,
.dark-mode .clear-icon,
.dark-mode .filter-icon {
  color: #ccc;
}
