.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input-container {
  position: relative;
}

.search-bar-input {
  width: 200px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-right: 30px;
  background-color: #efefef;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #333;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  padding: 10px;
  font-size: 1em;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none; /* Remove the border */
  border-radius: 4px; /* Optional: Keep border-radius for better appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
}

.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #f8f8f8;
}

.dropdown-arrow {
  margin-left: auto;
}
