.search-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar-input {
  width: 100%;
  max-width: 260px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.filter-container {
  display: flex;
  gap: 10px;
  justify-content: center; /* Center the filters */
}

.search-bar-filter {
  width: calc(
    50% - 5px
  ); /* Make each filter half the width of the search bar */
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 20px auto; /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-results,
.error {
  color: #ff0000; /* Red color for error and no results messages */
  margin: 20px 0;
  text-align: center; /* Center the text */
}

.results-message {
  color: limegreen; /* Limegreen color for results messages */
  margin: 20px 0;
  text-align: center; /* Center the text */
}
