.rating-stars {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between stars and rating value */
}

.rating-value {
  font-size: 1.2em;

  margin-left: 10px;
}

.star-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.gold-star {
  color: gold;
}
.gold-star:hover {
  color: red; /* Color on hover */
}

.gray-star {
  color: gray;
}
