/* src/components/userRecipes/UserRecipes.css */
.user-recipes {
  margin-top: 20px;
}

.user-recipes h2 {
  font-size: 1.8em;
  color: #333;
}

.user-recipes ul {
  list-style-type: none;
  padding: 0;
}

.recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.recipe-item a {
  text-decoration: none;
  color: #09f;
  transition: color 0.3s;
}

.recipe-item a:hover {
  color: #007acc;
}

.edit-button {
  background-color: #09f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #007acc;
}
