/* src/components/addRecipe/AddRecipe.css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

form button {
  padding: 10px;
  color: white;
  background-color: #09f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

form button[type="button"] {
  background-color: #ccc;
  color: #333;
}

form button:hover {
  background-color: #007acc;
}

form button[type="button"]:hover {
  background-color: #aaa;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.categories label {
  display: flex;
  align-items: center;
}

.categories input {
  margin-right: 5px;
}
