/* src/components/comments/Comment.css */
.comment {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 1em; /* Match the font size with the RecipeDetail page */
  color: #555;
}

.comment p {
  margin: 0;
  margin-bottom: 10px; /* Add some space between paragraphs */
}

.comment .button-group {
  display: flex;
  align-items: center;
}

.comment .button-group button,
.comment .edit-mode button {
  margin-right: 10px;
  padding: 10px 20px; /* Match the size with the edit/delete buttons */
  font-size: 1em; /* Match the font size with the edit/delete buttons */
  background-color: #09f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 40px;
}

.comment .button-group button:last-child,
.comment .edit-mode button:last-child {
  margin-left: 0px;
}

.comment .button-group button:hover,
.comment .edit-mode button:hover {
  background-color: #007acc;
}

.comment textarea {
  width: 90%;
  height: 60px; /* Reduce the height */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 1em; /* Match the font size with the rest of the page */
  resize: vertical; /* Allow vertical resizing only */
}

.comment textarea::placeholder {
  font-size: 1em; /* Match the placeholder font size */
  color: #aaa; /* Lighter color for the placeholder */
}

.comment-list {
  margin-top: 20px;
}

.comment-form {
  margin-top: 20px;
}

.comment-form textarea {
  width: 80%;
  height: 120px; /* Reduce the height */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 1em; /* Match the font size with the rest of the page */
  resize: vertical; /* Allow vertical resizing only */
}

.comment-form textarea::placeholder {
  font-size: 1em; /* Match the placeholder font size */
  color: #aaa; /* Lighter color for the placeholder */
}

.submit-comment-btn {
  padding: 10px 20px; /* Ensure both padding values are applied correctly */
  font-size: 1em; /* Match the font size with the edit/delete buttons */
  color: white;
  background-color: #09f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px; /* Ensure buttons have a consistent width */
}

.submit-comment-btn:hover {
  background-color: #007acc;
}
